{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Création d'une offre d'emploi</h1>
<div class="panel panel-default">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
<a href="{{ path('app_offer_index') }}" class="btn btn-warning">Retour aux offres</a>
{% endblock %}
