{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Modification de l'offre</h1>
<div class="panel panel-default">
    {{ form_start(offerForm) }}
    {{ form_widget(offerForm) }}
    {{ form_end(offerForm) }}
</div>
<a href="{{ path('app_offer_index') }}" class="btn btn-warning">Retour aux offres</a>

{% endblock %}
