{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Offre d'emploi numéro {{ offer.id }}</h1>

    <table>
        <tbody>
            <tr>
                <th>Référence de l'offre</th>
                <td>ipssi{{ offer.id }}</td>
            </tr>
            <tr>
                <th>Titre de l'offre</th>
                <td>{{ offer.title }}</td>
            </tr>
            <tr>
                <th>Détail de l'offre</th>
                <td>{{ offer.description|striptags|trim|convert_encoding('UTF-8', 'HTML-ENTITIES') }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{% if offer.available %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('app_offer_index') }}">Retour aux offres</a>
        </li>
        <li>
            <a href="{{ path('app_offer_edit', { 'id': offer.id }) }}">Modifier l'offre</a>
        </li>
        <li>
            <a href="{{ path('app_offer_delete', { 'id': offer.id }) }}">Supprimer l'offre</a>
            {#TODO a supprimer#}
            {#{{ form_start(delete_form) }}#}
                {#<input type="submit" value="Supprimer l'offre">#}
            {#{{ form_end(delete_form) }}#}
        </li>
    </ul>
{% endblock %}
