<aside class="aside">
    <div class="logo">
        <a href="{{ path('dashboard') }}" class="logo-expanded">
            {#<i class="fa fa-file" aria-hidden="true"></i>#}
            {#<span class="nav-label">IPSSI</span>#}
            <img class="logo-aside" src="{{ asset('images/logo-ipssi.png') }}" />
        </a>
    </div>
    <nav class="navigation">
        <ul>
            <li class="{{ app.request.get('_route') == "dashboard" ? 'active' : '' }}">
                <a href="{{ path('dashboard') }}" title="Dashboard">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    Dashboard
                </a>
            </li>
            <li class="{{ app.request.get('_route') == "compterenduactivite_index" ? 'active' : '' }}">
                <a href="{{ path('compterenduactivite_index') }}" title="Compte-rendu d'activité">
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    C-R-A
                </a>
            </li>
            <li class="{{ app.request.get('_route') == "app_api_getcv" ? 'active' : '' }}">
                <a href="{{ path('app_api_getcv') }}" title="CV">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    Candidatures
                </a>
            </li>
            <li class="{{ app.request.get('_route') == "app_api_cvtheque" ? 'active' : '' }}">
                <a href="{{ path('app_api_cvtheque') }}" title="CV Thèque">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    CVThèque
                </a>
            </li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="{{ app.request.get('_route') == "app_user_index" ? 'active' : '' }}">
                    <a href="{{ path('app_user_index') }}" title="Users">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        Utilisateurs
                    </a>
                </li>
            {% endif %}
            <li class="{{ app.request.get('_route') == "app_offer_index" ? 'active' : '' }}">
                <a href="{{ path('app_offer_index') }}" title="Offers">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                   Offres de poste
                </a>
            </li>
            <li class="{{ app.request.get('_route') == "app_holiday_index" ? 'active' : '' }}">
                <a href="{{ path('app_holiday_index') }}" title="Holidays">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    Congés
                </a>
            </li>
            <li class="{{ app.request.get('_route') == "app_mail_index" ? 'active' : '' }}">
                <a href="{{ path('app_mail_index') }}" title="Mails">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    E-mails
                </a>
            </li>
            <li class="{{ app.request.get('_route') == "app_report_index" ? 'active' : '' }} has-submenu"><a href="#"><i class="fa fa-money"></i> <span class="nav-label">Note de frais</span></a>
            <ul class="list-unstyled">
                    <li class="submenu"><a href="{{ path('app_report_index') }}"><i class="fa fa-arrow-circle-o-right"></i>Toutes mes notes de frais</a></li>
                    <li class="submenu"><a href="{{ path('app_hotel_index') }}"><i class="fa fa-bed"></i>Mes notes d'hôtel</a></li>
                    <li class="submenu"><a href="{{ path('app_lunch_index') }}"><i class="fa fa-cutlery"></i>Mes notes de repas</a></li>
                    <li class="submenu"><a href="{{ path('app_travel_index') }}"><i class="fa fa-car"></i>Mes notes de transport</a></li>
                    <li class="submenu"><a href="{{ path('app_other_index') }}"><i class="fa fa-shopping-bag"></i>Mes notes de fournitures</a></li>
                </ul>
            </li>

            <li class="{{ app.request.get('_route') == "article_index" ? 'active' : '' }}">
                <a href="{{ path('article_index') }}" title="articles">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    Articles
                </a>
            </li>
        </ul>
    </nav>
</aside>