<header class="top-head container-fluid">
    <button type="button" class="navbar-toggle pull-left">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <!-- Left navbar -->
    <nav class=" navbar-default" role="navigation">

        <!-- Right navbar -->
        <ul class="nav navbar-nav navbar-right top-menu top-right-menu">
            <li class="dropdown user-list">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    {% set contactCount = 0 %}
                    {% for contact in userContact %}
                        {% if contact.link is defined %}
                            {% set contactCount = contactCount + 1 %}
                        {% endif %}
                    {% endfor %}
                    <i class="fa fa-user "></i>
                    <span class="badge badge-sm up bg-purple count">{{ contactCount-1 }}</span>
                </a>
                <ul class="dropdown-menu extended fadeInUp animated nicescroll" tabindex="5001" style="overflow: hidden; outline: none;">
                    {% for k,contact in userContact %}
                        {% if contact.link is defined %}
                            <li>
                                <i class="fa fa-user "></i>
                                {{ contact.title }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <!-- mesages -->
            <li class="dropdown mail-dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-envelope-o "></i>
                    <span class="badge badge-sm up bg-purple count">{{ userMessage|length }}</span>
                </a>
                <ul class="dropdown-menu extended fadeInUp animated nicescroll" tabindex="5001" style="overflow: hidden; outline: none;">
                    {% for message in userMessage %}
                        <li>
                            <a href="{{ path('app_mail_show', {'email': message.id }) }}">
                                {{ message.subject|truncate(25) }}<br>
                                {% set date = date(message.date) %}
                                <span class="block"><strong>{{ date|date('Y-m-d H:i:s') }}</strong></span>
                                <span class="media-body block">
                                    {{ message.content|raw|truncate(20) }}
                                    <br>
                                    <small class="text-muted">{{ message.from|truncate(25) }}</small>
                                </span>
                                <i class="fa fa-envelope-o "></i>
                            </a>
                        </li>
                    {% endfor %}
                    <li>
                        <p><a href="{{ path('app_mail_index') }}" class="text-right">Voir tout</a></p>
                    </li>
                </ul>
            </li>
            <!-- /messages -->
            <!-- Calendar -->
            <li class="dropdown calendar-dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span class="badge badge-sm up bg-pink count">{{ userCalendar|length }}</span>
                </a>
                <ul class="dropdown-menu extended fadeInUp animated nicescroll" tabindex="5002" style="overflow: hidden; outline: none;">
                    {% for event in userCalendar %}
                        <li class="noti-header">
                            <span class="date">
                                {% set dateStart = date(event.start.dateTime) %}
                                {% set dateEnd = date(event.end.dateTime) %}
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                <span>
                                    {{ dateStart|date('d/m/Y H:i:s') }}
                                </span>

                            </span>
                            <span class="summary">
                                {{ event.summary }}
                            </span>
                        </li>
                    {% endfor %}
                    <li>
                        <p><a href="{{ path('app_mail_index') }}" class="text-right">Voir tout</a></p>
                    </li>
                </ul>
            </li>
            <!-- /Notification -->

            <!-- user login dropdown start-->
            <li class="dropdown text-center">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <img alt="" src="{{ app.user.filePath }}" class="img-circle profile-img thumb-sm">
                    <span class="username">{{ app.user.firstname }} {{ app.user.lastname }}</span> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pro-menu fadeInUp animated" tabindex="5003" style="overflow: hidden; outline: none;">
                    {#<li><a href="profile.html"><i class="fa fa-briefcase"></i>Profile</a></li>#}
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!-- End right navbar -->
    </nav>

</header>