<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}ERP - IPSSI Lyon{% endblock %}</title>
    {########################################}
    {#               CSS                    #}
    {########################################}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/front.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/summernote.css') }}" />
    {% endblock %}

    {########################################}
    {#              FAVICONS                #}
    {########################################}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
    <body>
        {#&#123;&#35;######################################&#35;&#125;#}
        {#&#123;&#35;            FLASHOTICES               &#35;&#125;#}
        {#&#123;&#35;######################################&#35;&#125;#}
        {#{% if app.request.hasPreviousSession %}#}
            {#{% for type, messages in app.session.flashbag.all() %}#}
                {#{% for message in messages %}#}
                    {#<div class="flashbag flash-{{ type }} hidden">#}
                        {#{{ message }}#}
                    {#</div>#}
                {#{% endfor %}#}
            {#{% endfor %}#}
        {#{% endif %}#}
        <div class="content">
            {########################################}
            {#               HEADER                 #}
            {########################################}

            {{ render(controller('AppBundle:Global:index')) }}

            {########################################}
            {#                ASIDE                 #}
            {########################################}

            {% include 'AppBundle::aside.html.twig' %}

            {########################################}
            {#              CONTENT                 #}
            {########################################}
            <div class="wraper container-fluid">
                {% for flash_message in app.session.flashBag.get('success') %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ flash_message }}
                    </div>

                {% endfor %}
                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ flash_message }}
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}
            </div>

            {########################################}
            {#              FOOTER                  #}
            {########################################}

            {% include 'AppBundle::footer.html.twig' %}

        </div>

   {########################################}
   {#             SCRIPTS                  #}
    {########################################}
    {% block scripts %}
        <script type="text/javascript" src="{{ asset('js/vendors.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
    {% endblock %}
    </body>
</html>