.mail-inbox {
  .is-unread {
    font-weight: 600;
  }
}

.mail-show {
  .bold {
    font-weight: bold;
  }
  .media img {
    max-width: 40px;
  }
  .panel-heading {
    text-align: center;
    h3 {
      display: inline-block;
      padding-right: 25px;
      cursor: pointer;
      font-weight: bold;
    }
  }
  .panel-default {
    min-height: 400px;
    padding: 55px 100px 55px;
    h3 {
      font-size: px2rem(28px);
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 35px;
    }
    .media {
      margin: 0 0 25px;
    }
    &.answer {
      min-height: inherit;
      padding: inherit;
      h3 {
        font-size: px2rem(18px);
        margin: 0;
      }
    }
  }
}