{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Modification d'une note de transport</h1>
<div class="panel panel-default">
    {{ form_start(form) }}
    <div class="form-group">
        <label class="control-label required" for="article_title">Date du trajet*</label>
        {{ form_widget(form.date_travel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Motif du déplacement</label>
        {{ form_widget(form.why_travel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Lieu de la mission</label>
        {{ form_widget(form.where_travel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Km parcourus*</label>
        {{ form_widget(form.km_travel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Péage*</label>
        {{ form_widget(form.is_tolls_travel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Montant du péage</label>
        {{ form_widget(form.tolls_travel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Facture(s) (PDF)*</label>
        {{ form_widget(form.file, { 'attr': {'class': 'save'} }) }}
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="form-group">
            <label class="control-label required" for="article_title">Etat</label>
            {{ form_widget(form.state) }}
        </div>
    {% else %}
        {% if (TravelReport.state == 2) %}
            <div class="form-group" style="display: none">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% else %}
            <div class="form-group">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% endif %}
    {% endif %}

    {{ form_end(form) }}
</div>
<a href="{{ path('app_report_index') }}" class="btn btn-warning">Retour aux choix de note de frais</a>
{% endblock %}