{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Modification d'une note de fournitures</h1>
<div class="panel panel-default">
    {{ form_start(form) }}
    <div class="form-group">
        <label class="control-label required" for="article_title">Date de l'achat de fourniture*</label>
        {{ form_widget(form.date_supplies) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Est-ce un transport exceptionnel ou une fourniture de bureau ?*</label>
        {{ form_widget(form.is_extra_transport) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Moyen de transport*</label>
        {{ form_widget(form.extra_transport_style) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Prix du transport*</label>
        {{ form_widget(form.extra_transport_price) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Désignation d'achat de la fourniture*</label>
        {{ form_widget(form.other_supplies) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Prix d'achat de la fourniture*</label>
        {{ form_widget(form.other_supplies_price) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Facture(s) (PDF)*</label>
        {{ form_widget(form.file, { 'attr': {'class': 'save'} }) }}
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="form-group">
            <label class="control-label required" for="article_title">Etat</label>
            {{ form_widget(form.state) }}
        </div>
    {% else %}
        {% if (OtherReport.state == 2) %}
            <div class="form-group" style="display: none">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% else %}
            <div class="form-group">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% endif %}
    {% endif %}

    {{ form_end(form) }}
</div>
<a href="{{ path('app_report_index') }}" class="btn btn-warning">Retour aux choix de note de frais</a>

{% endblock %}