{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Modification de l'offre</h1>

    {{ form_start(offerForm) }}
    {{ form_widget(offerForm) }}
    <input type="submit" value="Modifier" />
    {{ form_end(offerForm) }}

    <ul>
        <li>
            <a href="{{ path('app_offer_index') }}">Retour aux offres</a>
        </li>
    </ul>
{% endblock %}
