{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Modification d'une note de repas</h1>
<div class="panel panel-default">
    {{ form_start(form) }}

    <div class="form-group">
        <label class="control-label required" for="article_title">Date du repas*</label>
        {{ form_widget(form.date_lunch) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Invité*</label>
        {{ form_widget(form.nb_guest) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Type de repas*</label>
        {{ form_widget(form.type_lunch) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Lieu du repas*</label>
        {{ form_widget(form.where_lunch) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">TVA</label>
        {{ form_widget(form.tva_or_not) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Montant total du repas*</label>
        {{ form_widget(form.amount_lunch) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Facture(s) (PDF)*</label>
        {{ form_widget(form.file, { 'attr': {'class': 'save'} }) }}
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="form-group">
            <label class="control-label required" for="article_title">Etat</label>
            {{ form_widget(form.state) }}
        </div>
    {% else %}
        {% if (LunchReport.state == 2) %}
            <div class="form-group" style="display: none">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% else %}
            <div class="form-group">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% endif %}
    {% endif %}

    {{ form_end(form) }}
</div>
<a href="{{ path('app_report_index') }}" class="btn btn-warning">Retour aux choix de note de frais</a>

{% endblock %}