{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<h1>Modification d'une note d'hôtel</h1>
<div class="panel panel-default">
    {{ form_start(form) }}

    <div class="form-group">
        <label class="control-label required" for="article_title">Date de la nuit d'hôtel*</label>
        {{ form_widget(form.date_hotel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Lieu de couchage</label>
        {{ form_widget(form.where_hotel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Nombre de nuits effectuées*</label>
        {{ form_widget(form.nb_night_hotel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Prix total du séjour*</label>
        {{ form_widget(form.price_hotel) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Facture(s) (PDF)*</label>
        {{ form_widget(form.file, { 'attr': {'class': 'save'} }) }}
    </div>

    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="form-group">
            <label class="control-label required" for="article_title">Etat</label>
            {{ form_widget(form.state) }}
        </div>
    {% else %}
        {% if (HotelReport.state == 2) %}
            <div class="form-group" style="display: none">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% else %}
            <div class="form-group">
                <label class="control-label required" for="article_title">Etat</label>
                {{ form_widget(form.state) }}
            </div>
        {% endif %}
    {% endif %}

    {{ form_end(form) }}
</div>
<a href="{{ path('app_report_index') }}" class="btn btn-warning">Retour aux choix de note de frais</a>

{% endblock %}