{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="wraper container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Module de notes de frais</h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                            <div><strong>Mes notes de frais en cours</strong></div><hr>
                                <thead>
                                <tr>
                                <tr>
                                    <th>Type de note</th>
                                    <th>Ref</th>
                                    <th>Date de création</th>
                                    <th>Date de modification</th>
                                    <th>Actions</th>
                                    <th>Etat</th>
                                </tr>

                                </tr>
                                </thead>


                                <tbody>
                                {% for Report in Reports %}
                                <tr>
                                    {% if class(Report) == "LunchReport" %}
                                    <td data-title="title">Repas</td>
                                    <td data-title="ref">{{ Report.id }}</td>
                                    <td data-title="datestart">{{ Report.createdAt.format('d/m/Y') }}</td>
                                    <td data-title="dateend">{{ Report.updatedAt.format('d/m/Y') }}</td>
                                     <td data-title="actions">
                                        <ul>
                                            {% if Report.state == 2 %}
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_lunch_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_lunch_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% else %}
                                                    Note validée par votre supérieur
                                            {% endif %}
                                            {% else %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_lunch_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_lunch_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% endif %}
                                        </ul>
                                    </td>
                                    {% endif %}
                                    {%if class(Report) == "TravelReport" %}
                                    <td data-title="title">Transport</td>
                                    <td data-title="ref">{{ Report.id }}</td>
                                    <td data-title="datestart">{{ Report.createdAt.format('d/m/Y') }}</td>
                                    <td data-title="dateend">{{ Report.updatedAt.format('d/m/Y') }}</td>
                                     <td data-title="actions">
                                        <ul>
                                            {% if Report.state == 2 %}
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_travel_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_travel_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% else %}
                                                    Note validée par votre supérieur
                                            {% endif %}
                                            {% else %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_travel_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_travel_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% endif %}
                                        </ul>
                                    </td>
                                    {% endif %}
                                    {%if class(Report) == "HotelReport" %}
                                    <td data-title="title">Hotel</td>
                                    <td data-title="ref">{{ Report.id }}</td>
                                    <td data-title="datestart">{{ Report.createdAt.format('d/m/Y') }}</td>
                                    <td data-title="dateend">{{ Report.updatedAt.format('d/m/Y') }}</td>
                                     <td data-title="actions">
                                        <ul>
                                            {% if Report.state == 2 %}
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_hotel_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_hotel_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% else %}
                                                    Note validée par votre supérieur
                                            {% endif %}
                                            {% else %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_hotel_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_hotel_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% endif %}
                                        </ul>
                                    </td>
                                    {% endif %}
                                    {%if class(Report) == "OtherReport" %}
                                    <td data-title="title">Fourniture</td>
                                    <td data-title="ref">{{ Report.id }}</td>
                                    <td data-title="datestart">{{ Report.createdAt.format('d/m/Y') }}</td>
                                    <td data-title="dateend">{{ Report.updatedAt.format('d/m/Y') }}</td>
                                     <td data-title="actions">
                                        <ul>
                                            {% if Report.state == 2 %}
                                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_other_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_other_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% else %}
                                                    Note validée par votre supérieur
                                            {% endif %}
                                            {% else %}
                                                <a type="button" class="btn btn-warning"href="{{ path('app_other_edit', { 'id': Report.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger"href="{{ path('app_other_delete', { 'id': Report.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            {% endif %}
                                        </ul>
                                    </td>
                                    {% endif %}
                                    {% if Report.state == 0 %}
                                        <td data-title="type">En cours</td>
                                    {% elseif Report.state == 1 %}
                                        <td data-title="type">En attente</td>
                                    {% else %}
                                        <td data-title="type">Validée</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#<a href=""><button type="button" class="btn btn-success">Envoyer pour validation</button></a><br/><br/>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div> <!-- End Row -->
{% endblock %}
