{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="wraper container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Mes notes de repas</h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <button class="btn btn-success m-b-5"> <i class="fa fa-plus"></i> <span> <a href="{{ path('app_lunchreport_add') }}">Créer une note de repas</a></span> </button>
                    <button class="btn btn-success m-b-5"> <i class="fa fa-cloud-download"></i> <span> <a href="{{ path('app_reportlunch_export') }}">Exporter mes notes de repas validées (csv)</a></span> </button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Ref</th>
                                    <th>Coût</th>
                                    <th>Fichier</th>
                                    <th>Date</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>

                                </tr>
                                </thead>


                                <tbody>
                                {% for LunchReport in LunchReports %}
                                    <tr>
                                        <td data-title="type">{{ LunchReport.user.firstname }} {{ LunchReport.user.lastname }}</td>
                                        <td data-title="ref">rep-{{ LunchReport.id }}</td>
                                        <td data-title="type">{{ LunchReport.amountLunch }} €</td>
                                        <td data-title="type">
                                            <a type="button" class="btn btn-success" href="{{ LunchReport.webpath }}" target="_blank" download><i class="fa fa-download" aria-hidden="true"></i>Télécharger</a>
                                        </td>
                                        <td data-title="date">{{ LunchReport.dateLunch.format('d/m/Y') }}</td>
                                        <td data-title="type">{% if LunchReport.state == 0 %}En cours{% elseif LunchReport.state == 1 %}En attente{% else %}Validée{% endif %}</td>
                                        <td data-title="actions">
                                            <ul>
                                                {% if LunchReport.state == 2 %}
                                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                        <a type="button" class="btn btn-warning"href="{{ path('app_lunch_edit', { 'id': LunchReport.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                        <div class="spacer"></div>
                                                        <a type="button" class="btn btn-danger"href="{{ path('app_lunch_delete', { 'id': LunchReport.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                    {% else %}
                                                        Note validée par votre supérieur
                                                    {% endif %}
                                                {% else %}
                                                    <a type="button" class="btn btn-warning"href="{{ path('app_lunch_edit', { 'id': LunchReport.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                    <div class="spacer"></div>
                                                    <a type="button" class="btn btn-danger"href="{{ path('app_lunch_delete', { 'id': LunchReport.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                {% endif %}

                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div> <!-- End Row -->
{% endblock %}
