{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="wraper container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Mes notes de fournitures</h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-success m-b-5"> <i class="fa fa-plus"></i> <span> <a href="{{ path('app_otherreport_add') }}">Créer une note de fournitures</a></span> </button>
                    <button class="btn btn-success m-b-5"> <i class="fa fa-cloud-download"></i> <span> <a href="{{ path('app_reportother_export') }}">Exporter mes notes de fournitures validées (csv)</a></span> </button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Ref</th>
                                    <th>Coût</th>
                                    <th>Fichier</th>
                                    <th>Type de fourniture</th>
                                    <th>Date</th>
                                    <th>Etat</th>
                                    <th>Actions</th>
                                </tr>

                                </tr>
                                </thead>


                                <tbody>
                                {% for OtherReport in OtherReports %}
                                    <tr>
                                        <td data-title="type">{{ OtherReport.user.firstname }} {{ OtherReport.user.lastname }}</td>
                                        <td data-title="ref">oth-{{ OtherReport.id }}</td>

                                        {% if OtherReport.otherSuppliesPrice is empty %}
                                            <td data-title="type">{{ OtherReport.extraTransportPrice }} €</td>
                                        {% endif %}
                                        {% if OtherReport.extraTransportPrice is empty %}
                                            <td data-title="type">{{ OtherReport.otherSuppliesPrice }} €</td>
                                        {% endif %}

                                        <td data-title="type">
                                            <a type="button" class="btn btn-success" href="{{ OtherReport.webpath }}" target="_blank" download><i class="fa fa-download" aria-hidden="true"></i>Télécharger</a>
                                        </td>

                                        {% if OtherReport.otherSupplies is empty %}
                                            <td data-title="type">{{ OtherReport.extraTransportStyle }}</td>
                                        {% endif %}
                                        {% if OtherReport.extraTransportStyle is empty %}
                                            <td data-title="type">{{ OtherReport.otherSupplies }}</td>
                                        {% endif %}

                                        <td data-title="date">{{ OtherReport.dateSupplies.format('d/m/Y') }}</td>
                                        <td data-title="type">{% if OtherReport.state == 0 %}En cours{% elseif OtherReport.state == 1 %}En attente{% else %}Validée{% endif %}</td>
                                        <td data-title="actions">
                                            <ul>
                                                {% if OtherReport.state == 2 %}
                                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                        <a type="button" class="btn btn-warning"href="{{ path('app_other_edit', { 'id': OtherReport.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                        <div class="spacer"></div>
                                                        <a type="button" class="btn btn-danger"href="{{ path('app_other_delete', { 'id': OtherReport.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                    {% else %}
                                                        Validé par votre supérieur
                                                    {% endif %}
                                                {% else %}
                                                    <a type="button" class="btn btn-warning"href="{{ path('app_other_edit', { 'id': OtherReport.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                    <div class="spacer"></div>
                                                    <a type="button" class="btn btn-danger"href="{{ path('app_other_delete', { 'id': OtherReport.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div> <!-- End Row -->
{% endblock %}
