{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Création d'une note de fournitures</h1>
<div class="panel panel-default">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
<a href="{{ path('app_report_index') }}" class="btn btn-warning">Retour aux choix de note de frais</a>

{% endblock %}