{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Nouvelle demande de congés</h1>
<div class="panel panel-default">
    {{ form_start(holidayForm) }}
    <div class="form-group">
        <label class="control-label required" for="article_title">Début du congé*</label>
        {{ form_widget(holidayForm.startDate) }}
    </div>

    <div class="form-group">
        <label class="control-label required" for="article_title">Fin du congé*</label>
        {{ form_widget(holidayForm.endDate) }}
    </div>
    {{ form_end(holidayForm) }}
</div>
<a href="{{ path('app_holiday_index') }}" class="btn btn-warning">Annulation - Retour aux demandes de congés</a>

{% endblock %}
