{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="wraper container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Liste des demandes de congés</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-success m-b-5"> <i class="fa fa-plus"></i> <span> <a href="{{ path('app_holiday_add') }}">Faire une nouvelle demande de congés</a></span> </button>
                        <button class="btn btn-success m-b-5"> <i class="fa fa-cloud-download"></i> <span> <a href="{{ path('app_holidays_export') }}">Exporter la liste des demandes de congés (csv)</a></span> </button>

                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                    <tr>
                                        <th>Numéro de la demande</th>
                                        <th>Date de début des congés</th>
                                        <th>Date de fin des congés</th>
                                        <th>Accepté</th>
                                        <th>Actions</th>
                                    </tr>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for holiday in holidays %}
                                        <tr>
                                            <td>{{ holiday.id }}</td>
                                            <td>{{ holiday.startDate | localizeddate('full', 'none', 'fr') }}</td>
                                            <td>{{ holiday.endDate | localizeddate('full', 'none', 'fr') }}</td>
                                            <td>{% if holiday.validate %}oui{% else %}non{% endif %}</td>
                                            <td>
                                                <ul>

                                                    {% if holiday.validate %}
                                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                            <a type="button" class="btn btn-warning"href="{{ path('app_holiday_edit', { 'id': holiday.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                            <div class="spacer"></div>
                                                            <a type="button" class="btn btn-danger"href="{{ path('app_holiday_delete', { 'id': holiday.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                        {% else %}
                                                            Validé par votre supérieur
                                                        {% endif %}
                                                    {% else %}
                                                        <a type="button" class="btn btn-warning"href="{{ path('app_holiday_edit', { 'id': holiday.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                        <div class="spacer"></div>
                                                        <a type="button" class="btn btn-danger"href="{{ path('app_holiday_delete', { 'id': holiday.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                    {% endif %}

                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- End Row -->
{% endblock %}





