{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="wraper container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>CVThèque</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                    <tr>
                                        <th>Type de Métier</th>
                                        <th>CV</th>
                                        <th>Date de dépôt du CV</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for k,cv in cvs %}
                                        <tr>
                                            {% set user_data = cv.description|split(',') %}
                                            {% if user_data.4 is defined %}
                                                <td>{{ user_data.4 }}</td>
                                            {% endif %}
                                            {% if cv.slug is defined %}
                                                <td>
                                                    <a type="button" class="btn btn-success" href="{{ cv.source_url }}" target="_blank" download><i class="fa fa-download" aria-hidden="true"></i>Télécharger le CV</a>
                                                </td>
                                                {#<td><a href="{{ cv.source_url }}">{{ cv.slug }}</a></td>#}
                                            {% endif %}
                                            {% if cv.date is defined %}
                                                <td>{{ cv.date | localizeddate('full', 'none', 'fr') }} à {{ cv.date | localizeddate('none', 'short') }}</td>
                                            {% endif %}
                                            <td>
                                                <a type="button" class="btn btn-danger" href="{{ path('app_api_deletecv', { 'id': cv.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer le CV</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- End Row -->
{% endblock %}