{% extends 'AppBundle::layout.html.twig' %}

{% block content %}


    <h1>Compte-rendu d'activité</h1>
        {{ form_start(form) }}

        <div class="row">
            <div class="form-group col-sm-6">
                <div class="panel panel-default">

                    <div class="form-group">
                        <label class="control-label required" for="article_title">Nom du client </label>
                        {{ form_widget(form.nameClient) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Nom du consultant</label>
                        {{ form_widget(form.responsableClient) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Nom du projet</label>
                        {{ form_widget(form.projetName) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Date de début</label>
                        {{ form_widget(form.startDate) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Date de fin</label>
                        {{ form_widget(form.endDate) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Email</label>
                        {{ form_widget(form.emailContact) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Description rapport</label>
                        {{ form_widget(form.descriptionRapport) }}
                    </div>


                </div>
            </div>
            <div class="form-group col-sm-6">

                <div class="panel panel-default">
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Nombre d'accident avec arrêt</label>
                        {{ form_widget(form.nbAccidentWithStop) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Nombre d'accident sans arrêt</label>
                        {{ form_widget(form.nbAccidentWithoutStop) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Nombre d'accident de trajet</label>
                        {{ form_widget(form.nbAccidentPath) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Nombre de jours malade</label>
                        {{ form_widget(form.nbDayStopSick) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Satisfaction</label>
                        {{ form_widget(form.satisfactionClient) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label required" for="article_title">Satisfaction du consultant</label>
                        {{ form_widget(form.satisfactionConsultant) }}
                    </div>

                </div>


            </div>

        </div>
        <div class="row">

            <div class="form-group col-sm-12">

                <div class="panel panel-default">


                <div class="form-group">
                    <label class="control-label required" for="article_title">Amélioration</label>
                    {{ form_widget(form.amelioration) }}
                </div>
                <div class="form-group">
                    <label class="control-label required" for="article_title">Activité restante</label>
                    {{ form_widget(form.activityToDo) }}
                </div>


                <div class="form-group">
                    <label class="control-label required" for="article_title">Commentaire du consultant</label>
                    {{ form_widget(form.commentaireConsultant) }}
                </div>
                <div class="form-group">
                    <label class="control-label required" for="article_title">Lieu</label>
                    {{ form_widget(form.place) }}
                </div>
                <div class="form-group">
                    <label class="control-label required" for="article_title">Date de formation</label>
                    {{ form_widget(form.dateFormation) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.Valider) }}
                </div>

            </div>
            </div>
        </div>

    {{ form_end(form) }}
    <a href="{{ path('compterenduactivite_index') }}" class="btn btn-warning">Annulation - Retour aux comptes-rendus d'activités</a>

{% endblock %}
