{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="wraper container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Liste des Comptes Rendus d'activitées</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-success m-b-5"> <i class="fa fa-plus"></i> <span> <a href="{{ path('compterenduactivite_add') }}">Créer un CRA</a></span> </button>
                        <button class="btn btn-success m-b-5"> <i class="fa fa-cloud-download"></i> <span> <a href="{{ path('app_cra_export') }}">Exporter la liste des CRA (csv)</a></span> </button>
                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                    <tr>
                                        <th>Nom du client</th>
                                        <th>Responsable client</th>
                                        <th>Nom du projet</th>
                                        <th>Début du projet</th>
                                        <th>Fin du projet</th>
                                        <th>Email de contact</th>
                                        <th>Description du rapport</th>
                                        <th>Indice de satisfaction client</th>
                                        <th>Indice de satisfaction du consultant</th>
                                        <th>Lieu</th>
                                        <th>Date de formation</th>
                                        <th>Actions</th>
                                    </tr>

                                    </tr>
                                    </thead>


                                    <tbody>
                                    {% for compteRenduActivite in compteRenduActivites %}
                                        <tr>
                                            <td>{{ compteRenduActivite.nameClient }}</td>
                                            <td>{{ compteRenduActivite.responsableClient }}</td>
                                            <td>{{ compteRenduActivite.projetName }}</td>
                                            <td>{% if compteRenduActivite.startDate %}{{ compteRenduActivite.startDate.format('d/m/Y') }}{% endif %}</td>
                                            <td>{% if compteRenduActivite.endDate %}{{ compteRenduActivite.endDate.format('d/m/Y') }}{% endif %}</td>
                                            <td>{{ compteRenduActivite.emailContact }}</td>
                                            <td>{{ compteRenduActivite.descriptionRapport }}</td>
                                            <td>{{ compteRenduActivite.satisfactionClient }}</td>
                                            <td>{{ compteRenduActivite.satisfactionConsultant }}</td>
                                            <td>{{ compteRenduActivite.place }}</td>
                                            <td>{% if compteRenduActivite.dateFormation %}{{ compteRenduActivite.dateFormation.format('d/m/Y') }}{% endif %}</td>
                                            <td>
                                                <ul>
                                                        <a type="button" class="btn btn-warning"href="{{ path('compterenduactivite_edit', { 'id': compteRenduActivite.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                        <div class="spacer"></div>
                                                        <a type="button" class="btn btn-danger"href="{{ path('compterenduactivite_delete', { 'id': compteRenduActivite.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- End Row -->
{% endblock %}
