{% extends 'base.html.twig' %}

{% block body %}
    <h1>CompteRenduActivite</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compteRenduActivite.id }}</td>
            </tr>
            <tr>
                <th>Nameclient</th>
                <td>{{ compteRenduActivite.nameClient }}</td>
            </tr>
            <tr>
                <th>Responsableclient</th>
                <td>{{ compteRenduActivite.responsableClient }}</td>
            </tr>
            <tr>
                <th>Projetname</th>
                <td>{{ compteRenduActivite.projetName }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if compteRenduActivite.startDate %}{{ compteRenduActivite.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if compteRenduActivite.endDate %}{{ compteRenduActivite.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Emailcontact</th>
                <td>{{ compteRenduActivite.emailContact }}</td>
            </tr>
            <tr>
                <th>Descriptionrapport</th>
                <td>{{ compteRenduActivite.descriptionRapport }}</td>
            </tr>
            <tr>
                <th>Nbaccidentwithstop</th>
                <td>{{ compteRenduActivite.nbAccidentWithStop }}</td>
            </tr>
            <tr>
                <th>Nbaccidentwithoutstop</th>
                <td>{{ compteRenduActivite.nbAccidentWithoutStop }}</td>
            </tr>
            <tr>
                <th>Nbaccidentpath</th>
                <td>{{ compteRenduActivite.nbAccidentPath }}</td>
            </tr>
            <tr>
                <th>Nbdaystopsick</th>
                <td>{{ compteRenduActivite.nbDayStopSick }}</td>
            </tr>
            <tr>
                <th>Satisfactionclient</th>
                <td>{{ compteRenduActivite.satisfactionClient }}</td>
            </tr>
            <tr>
                <th>Satisfactionconsultant</th>
                <td>{{ compteRenduActivite.satisfactionConsultant }}</td>
            </tr>
            <tr>
                <th>Amelioration</th>
                <td>{{ compteRenduActivite.amelioration }}</td>
            </tr>
            <tr>
                <th>Activitytodo</th>
                <td>{{ compteRenduActivite.activityToDo }}</td>
            </tr>
            <tr>
                <th>Commentaireconsultant</th>
                <td>{{ compteRenduActivite.commentaireConsultant }}</td>
            </tr>
            <tr>
                <th>Place</th>
                <td>{{ compteRenduActivite.place }}</td>
            </tr>
            <tr>
                <th>Dateformation</th>
                <td>{% if compteRenduActivite.dateFormation %}{{ compteRenduActivite.dateFormation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('compterenduactivite_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('compterenduactivite_edit', { 'id': compteRenduActivite.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
