{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Création d'un article</h1>
    <div class="panel panel-default">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    <a href="{{ path('article_index') }}" class="btn btn-warning">Retour aux articles</a>

{% endblock %}
