{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Editer un article</h1>
        <div class="panel panel-default">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            {{ form_end(edit_form) }}
        </div>
    <a href="{{ path('article_index') }}" class="btn btn-warning">Retour aux articles</a>
{% endblock %}
