{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

<div class="wraper container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>Liste des articles</h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-success m-b-5"> <i class="fa fa-plus"></i> <span> <a href="{{ path('article_add') }}">Créer un article sur le site vitrine</a></span> </button>

                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Slug</th>
                                    <th>Publié</th>
                                    <th>Date de publication</th>
                                    <th>Actions</th>
                                </tr>

                                </tr>
                                </thead>


                                <tbody>
                                {% for article in articles %}
                                    <tr>
                                        <td>{{ article.id }}</td>
                                        <td>{{ article.title }}</td>
                                        <td>{{ article.slug }}</td>
                                        <td>{% if article.published %}Oui{% else %}Non{% endif %}</td>
                                        <td>{% if article.datePublish %}{{ article.datePublish | localizeddate('full', 'none', 'fr') }} à {{ article.datePublish | localizeddate('none', 'short') }}{% endif %}</td>
                                        <td>
                                            <ul>
                                                <a type="button" class="btn btn-warning" href="{{ path('article_edit', { 'id': article.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                <div class="spacer"></div>
                                                <a type="button" class="btn btn-danger" href="{{ path('article_delete', { 'id': article.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div> <!-- End Row -->
    {% endblock %}



