<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {########################################}
    {#               CSS                    #}
    {########################################}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/front.css') }}" />
    {% endblock %}
    {########################################}
    {#              FAVICONS                #}
    {########################################}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
    <body>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flashbag flash-{{ type }} hidden">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block content %}
            {% endblock content %}
        </div>

    {########################################}
    {#             SCRIPTS                  #}
    {########################################}
    {% block scripts %}
        <script type="text/javascript" src="{{ asset('js/vendors.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
    {% endblock %}
    </body>
</html>
