{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="title">Bonjour, {{ app.user.firstname }} {{ app.user.lastname }} : Bienvenue sur l' ERP Ipssi Lyon</h1>
                </div>
            </div>
        </div>
        <a href="{{ path('app_api_cvtheque') }}">
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <h2 class="m-0 counter">{{ nbCv }}</h2>
                    <div>CV Disponible(s)</div>
                </div>
            </div>
        </a>
        <a href="{{ path('app_api_getcv') }}">
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <h2 class="m-0 counter">{{ nbCv }}</h2>
                    <div>Candidature(s) Disponible(s)</div>
                </div>
            </div>
        </a>
        <a href="{{ path('app_offer_index') }}">
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <h2 class="m-0 counter">{{ nbOffers }}</h2>
                    <div>Offre(s) de poste(s) publiée(s)</div>
                </div>
            </div>
        </a>
        <a href="{{ path('app_holiday_index') }}">
            <div class="col-lg-3 col-sm-6">
                <div class="widget-panel widget-style-2 white-bg">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <h2 class="m-0 counter">{{ nbHolidays }}</h2>
                    <div>Congé(s) en attente</div>
                </div>
            </div>
        </a>
    </div>

    <div class="row">
        <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="title">Offres d'emploi en cours</h1>
                    </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <tr>
                                        <th>Référence de l'offre</th>
                                        <th>Titre de l'offre</th>
                                    </tr>
                                </tr>
                                </thead>
                                <tbody>
                                {% for offer in offers %}
                                    <tr>
                                        <td>ipssi{{ offer.id }}</td>
                                        <td><a href="{{ path('app_offer_edit', { 'id': offer.id }) }}">{{ offer.title }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="title">Articles publiés</h1>
                    </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table id="datatable2" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <tr>
                                        <th>Numéro de l'article</th>
                                        <th>Titre de l'article</th>
                                    </tr>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in articles %}
                                    <tr>
                                        <td>ipssi{{ article.id }}</td>
                                        <td><a href="{{ path('article_edit', { 'id': article.id }) }}">{{ article.title }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>

{% endblock %}