{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="wraper container-fluid mail-inbox">
    <div class="page-title">
        <h3 class="title">Inbox</h3>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default m-t-20">
                <div class="panel-body">

                    <table class="table table-hover mails">
                        <tbody>
                        {% for message in userMessage %}
                            <tr class="{{ message.isRead ? 'is-unread' : 'is-read' }}">
                                <td class="mail-rateing">
                                    {% if message.isImportant %}
                                        <i class="fa fa-star"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_mail_show', {'email': message.id }) }}">{{ message.from }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('app_mail_show', {'email': message.id }) }}">
                                        <i class="fa fa-circle text-info m-r-15"></i>
                                        {{ message.subject }}
                                    </a>
                                </td>
                                <td class="text-right">
                                    {% set date = date(message.date) %}
                                    {{ date|date('Y-m-d H:i:s') }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div> <!-- panel body -->
            </div> <!-- panel -->
        </div> <!-- end Col-9 -->

    </div><!-- End row -->
{% endblock %}