{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="wraper container-fluid mail-show">

    <div class="col-sm-12">

        <!-- Message -->
        <div class="panel panel-default m-t-20">
            <div class="panel-heading">
                <h3 class="panel-title">{{ userMessage.subject|raw }}</h3>
            </div>
            <div class="panel-body">
                <div class="media m-b-30 ">
                    <a href="#" class="pull-left">
                        <img alt="" src="/images/default-user.png" class="media-object thumb-sm">
                    </a>
                    <div class="media-body">
                        <span class="media-meta pull-right">
                            {% set date = date(userMessage.date) %}
                            {{ date|date('Y-m-d H:i:s') }}
                        </span>

                        <h4 class="text-primary m-0">{{ userMessage.from|raw }}</h4>
                    </div>
                </div> <!-- media -->

                {{ userMessage.content|raw }}
                
            </div> <!-- panel-body -->
        </div> <!-- End panel -->
        <!-- End message -->

        <!-- Replay -->
        <div class="panel panel-default answer">
            <div class="panel-heading">
                <h3 class="panel-title">Répondre</h3>
                <span class="caret"></span>
            </div>
            <div class="mail-answer hidden">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        <!-- Replay -->

    </div>


</div>
{% endblock %}