<div class="container">

    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token_generator.getToken('authenticate') }}" />

        <label for="inputEmail" class="sr-only">{{ 'security.login.email'|trans }}</label>
        <input type="text" id="inputEmail" name="_username" class="form-control" placeholder="Email address" >

        <label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="inputPassword" name="_password" class="form-control" placeholder="Password" >

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" name="_submit" type="submit">Sign in</button>

        <a class="btn btn-lg btn-primary btn-block" href="{{ authUrl }}" title="Sign in with Google">Sign in with Google</a>

    </form>
</div>
