//Fonts
$base-font-size : 11px;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,700italic,900,900italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url('/fonts/MonoSocialIconsFont-1.10.eot');
  src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
  url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
  url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
  url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
  src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.symbol, a.symbol:before {
  font-family: 'Mono Social Icons Font';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a.symbol:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

$Roboto : 'Roboto', sans-serif;
$Indie: 'Indie Flower', cursive;


// Colors
$red : #9a0000;
$lightRed : #da0f0f;
$black : #0e1113;
$lightBlack : #1a1c1e;
$grey : #CCCCCC;
$lightGrey : #F5F5F5;
$colorLink : #838F9A;