{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h1>Ajouter un utilisateur</h1>

    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    {{ form_end(userForm) }}

    <ul>
        <li>
            <a href="{{ path('app_user_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
