{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="wraper container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Liste des utilisateurs</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-success m-b-5"> <i class="fa fa-plus"></i> <span> <a href="{{ path('app_user_add') }}">Ajouter un utilisateur</a></span> </button>
                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Actions</th>
                                    </tr>

                                    </tr>
                                    </thead>


                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            <td>
                                                <ul>
                                                    <a type="button" class="btn btn-warning"href="{{ path('app_user_edit', { 'id': user.id }) }}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifier</a>
                                                    <div class="spacer"></div>
                                                    <a type="button" class="btn btn-danger"href="{{ path('app_user_delete', { 'id': user.id }) }}"><i class="fa fa-ban" aria-hidden="true"></i> Supprimer</a>
                                                </ul>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div> <!-- End Row -->
{% endblock %}




