{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <div class="wrapper-page animated fadeInDown">

        <div class="ex-page-content animated flipInX text-center">
            <h2 class="font-light">Interdit !</h2><br>
            <p>Vous n'avez pas accès à cette page</p>

            <a class="btn btn-purple m-t-20" href="{{ path('dashboard') }}"><i class="fa fa-angle-left"></i> Retour au dashboard</a>

        </div>

    </div>


{% endblock %}



