.aside {
  background-color: #2f353f;
  box-shadow: 7px 0px 12px rgba(0, 0, 0, 0.15);
  width: 250px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  .logo {
    text-align: center;
    background-color: #ffffff;
    padding: 13px 10px;
    .logo-expanded {
      font-size: 20px;
      letter-spacing: .05em;
      color: #2f353f !important;
      font-weight: 700;
      text-transform: uppercase;
      img.logo-aside{
        width: 50%;
      }
      i {
        font-size: 34px;
        vertical-align: middle;
      }
    }
  }
  .navigation {
    margin: 50px 0 20px;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      position: relative;
      &.active,
      &:hover {
        a {
          color: #fff;
          background: #2A303A;
        }
      }
      a {
        display: block;
        padding: 12px 25px;
        color: $colorLink;
        font-size: 15px;
        text-decoration: none;
        transition: all 0.4s;
        font-weight: 400;
        i {
          margin-right: 6px;
          font-size: 18px;
          width: 25px;
          float: left;
        }
      }
    }
  }
}