.top-head {
  background-color: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.06),0 1px 0 0 rgba(0,0,0,0.02);

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 12px 20px 8px 0px;
    display: block;
    padding-left: 0px;
  }
  .app-search {
    position: relative;
    margin-top: 12px;
    margin-bottom: 8px;
    margin-right: 15px;
    float: left;
    .form-control,
    .form-control:focus {
      border: none;
      font-size: 13px;
      color: inherit;
      padding-left: 20px;
      background: rgba(237, 241, 242, 0.5);
      box-shadow: none;
      border-radius: 34px;
      margin-top: 1px;
    }
    .form-control {
      background-color: #fafafa;
      color: rgba(0,0,0,0.6);
      font-size: 14px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      border: 1px solid #eee;
      box-shadow: none;
      a {
        position: absolute;
        top: 8px;
        right: 15px;
        color: #c4c4cd;
      }
    }
  }
  .top-menu li {
    a {
      background-color: transparent;
      line-height: 30px;
      color: #777;
    }
    img {
      max-width: none;
    }
  }
  .top-menu li >a {
    color: inherit;
    text-align: center;
    padding: 14px 15px;
    font-size: 16px;
    display: block;
  }
  .username {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 3px;
  }
  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .img-circle {
    border-radius: 50%;
  }
  .thumb-sm {
    height: 32px;
    width: 32px;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-nav {
  margin: 7.5px -15px;
  & > li > a {
    background-color: transparent;
    line-height: 30px;
  }
  @include breakpoint(ml) {
    float: left;
    margin: 0;
  }
}
.navbar-right {
  @include breakpoint(ml) {
    float: right!important;
    margin-right: -15px;
    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}
.dropdown-menu {
  display: none;
  min-width: 264px;
  max-width: 264px;
  &.visible {
    display: block;
  }
  li {
    border-bottom: 1px solid grey;
  }
}
.badge.up {
  position: relative;
  top: -12px;
  padding: 3px 6px;
  margin-left: -13px;
}
.top-head{
  .dropdown-menu {
    li {
      a {
        line-height: 23px;
        padding: 0;
      }
    }
  }
}
.mail-dropdown,.calendar-dropdown {
  li{
    overflow: hidden;
    &:last-child {
      border: none;
      text-align: center;
      padding-top: 10px;
      font-weight: bold;
    }
  }
}
.noti-header {
  overflow: hidden;
  padding: 15px 0;
  .date {
    display: block;
    text-align: center;
    font-weight: bold;
    span {
      display: block;
    }
  }
  .summary {
    display: block;
    text-align: center;
  }
}
.user-list {
  .dropdown-menu {
    li {
      padding: 5px 10px;
      i {
        margin: 0 15px;
      }
      &:first-child {
        display: none;
      }
      &:last-child {
        border: none;
      }
    }
  }
}