body {
  color: #797979;
  background-color: #f1f4f5;
  font-family: 'Roboto', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 14px;
}
.content {
  margin-left: 250px;
}
.wraper {
  padding-top: 20px;
  min-height: 550px;
  padding-bottom: 70px;

}
.text-uppercase {
  text-transform: uppercase;
}
.page-title {
  padding: 0px 0px 20px;
  .title {
    margin: 0px;
    font-size: 20px;
  }
}
.text-dark {
  color: #797979;
}

.flashbag {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease-in-out;
  line-height: px2rem(24px);
  font-size: px2rem(12px);
  text-align: center;
  min-width: 200px;
  padding: 15px;
  position: absolute;
  right: 25px;
  top: 25px;
  background: #fff;
  &.flash-notice {
    border: 1px solid blue;
    color: blue;
  }
  &.flash-error {
    border: 1px solid red;
    color: red;
  }
  &.hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100px);
  }
}
.spacer{
  margin: 10px 0 0 0;
}

.dataTables_wrapper {

  .dataTables_filter {
    text-align: right;
  }
  thead{
    background-color: #2f353f;
    color: white;
  }

}
.top-head{
  background-color: #f5f5f5;
}

.aside .logo{
  background-color: #f1f4f5;
}

h1, .h1{
  font-size: 24px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  font-family: Roboto !important;
  color: #2f353f !important;
  margin: 0 auto !important;
}
.panel {
  padding: 20px 30px;
  border: none;
  border: 1px solid rgba(0,0,0,0.08);
  margin-bottom: 20px;
  box-shadow: none;
}
.panel-default > .panel-heading{
  background-color: #fff !important;
  border-color: #fff !important;
}
.dataTables_wrapper .dataTables_filter {
  label {
    font-size: 0;
  }
}